<li class="todo-item">
  <label for="completeTodo" class="checkbox todo-checkbox">
    <input
      type="checkbox"
      name="completeTodo"
      id={{@todo.id}}
      checked={{@todo.isComplete}}
      onChange={{fn this.completeTodo}}
    />
    <span></span>
  </label>
  <div class="todo-info">
    <label for="label">
      <input
        type="text"
        name="label"
        placeholder="What would you like to get done?"
        value={{@todo.label}}
      />
    </label>
    {{#if @todo.tags}}
      <div class="tag-list">
        {{#each @todo.tags as |tag|}}
          <div class="tag-wrapper">
            <span>
              {{tag.label}}
            </span>
            <button class="btn-delete">
              X
            </button>
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
</li>